.vscode/
.vs/
bin/
obj/

컴퓨터그래픽스/x64/Debug/vc143.idb
*.obj
컴퓨터그래픽스/.vs/컴퓨터그래픽스/v17/.suo
컴퓨터그래픽스/.vs/컴퓨터그래픽스/v17/Browse.VC.db
컴퓨터그래픽스/.vs/컴퓨터그래픽스/v17/Browse.VC.db-shm
컴퓨터그래픽스/.vs/컴퓨터그래픽스/v17/Browse.VC.db-wal
컴퓨터그래픽스/x64/Debug/컴퓨터그래픽스.log
컴퓨터그래픽스/컴퓨터그래픽스.vcxproj
컴퓨터그래픽스/컴퓨터그래픽스.vcxproj.filters
컴퓨터그래픽스/.vs/컴퓨터그래픽스/v17/Browse.VC.db
컴퓨터그래픽스/x64/Debug/컴퓨터그래픽스.log
