*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.user
*.sdf
*.opensdf
Debug/
Release/
*.vscode/
*.vs/
*.exe
*.dll
*.log
.log.
*.obj
*.o
*.pdb
*.ilk
*.ipch
*.vsidx
*.opendb

.sln.docstates
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/